<div class="card bg-light mb-3">
	<div class="card-header"></div>
	<div class="row ">
		<div class="col-md-4"><%= format_poster movie_item %></div>
		<div class="col-md-8 px-3">
			<div class="card-block">
				<div class="card-body">
					<h4 class="card-title"><u><%= movie_item.title %></u></h4>
					<p class="card-sub-title mb-2 text-muted">Release date: <%= format_date movie_item.release_date %></p>
					<p class="card-sub-title mb-2 text-muted">Genre: <%= format_genre movie_item %> </p>
					<h4><u>Reviews</u></h3>
				</div>
			</div>
		</div>
	</div>
</div>

<br />




