<div class="review-data">
	<i><b><%= review_item.body.truncate(60) %></b></i>
	<p class="author-text">-<%= review_item.email %></p>
</div>



<style type="text/css">
	.review-data {
		margin-right: 12px;
	}
</style>