<%# if movie_id == review_item.movie_id.to_i %>
	
	<div class="review-data">
		<i><b><%= review_item.body.truncate(100) %></b></i>
		<p class="author-text">-<%= review_item.email %></p>
	</div>

<%# end %>



<style type="text/css">
	.review-data {
		margin-right: 12px;
	}
</style>