<div class="movie-content">
	<div class="row">
	  <div class="col-lg-9">
			<%= render partial: 'movie_item', collection: @movies, locals: { reviews: @reviews } %>
			<%= paginate @movies %>
		</div>
		<div class="col-sm-3">
			<div class="card" style="width: 16rem; margin-bottom: 10px;">
  			<div class="card-body">
    			<h6 class="card-subtitle mb-2 text-muted"><%= link_to 'View All Reviews', '#' %></h6>
   			</div>
   		</div>
   		<%= render partial: 'recent_reviews', collection: @reviews %>
		</div>
  </div>
</div>
			



