<h1>Welcome to the movies review app!</h1>
<p><%= @text %></p>
<div class="row">
  <div class="col-lg-9">
		<%= render partial: 'movie_item', collection: @movies, locals: { reviews: @reviews } %>
	</div>
	<div class="col-sm-3">Some reviews</div>
</div>




