@import "bootstrap";

/* Custom default button */
.genre-text {
	font-size: 11px;
}

.review-data {
	font-size: 14px;
	clear: both;
}

.author-text {
	float: right;
	font-weight: bold;
	font-style: italic;

}

.card-body {
  padding: 0.8rem;
}

.thumbnail {
    width: 185px;
    height: 278px;
}

.image {
    width: 100%;
    height: 100%; 
    overflow: hidden;
    border-radius: 5px;
}

.image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}